@import url("../assets/css/style.css");
/* @import url("../assets/main.css");
 */@import url("../assets/css/vendor/bootstrap/css/bootstrap.min.css");
@import url("../assets/css/vendor/bootstrap-icons/bootstrap-icons.css");
/* @import url("../assets/css/vendor/aos/aos.css");
 */@import url("../assets/css/vendor/glightbox/css/glightbox.min.css");
@import url("../assets/css/vendor/swiper/swiper-bundle.min.css");
@import "tailwindcss";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/
/* .scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: var(--accent-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--contrast-color);
  line-height: 0;
}

.scroll-top:hover {
  background-color: color-mix(in srgb, var(--accent-color), transparent 20%);
  color: var(--contrast-color);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
} */